button {
    all: unset;
    font-weight: 500;
    background-color: var(--brand-dark);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    margin-bottom: 5rem;
}

.btn-primary {
    font-family: var(--font-family-body);
    color: white;
    background-color: var(--brand-dark);
}

.btn-primary:hover , .btn-primary:focus {
    background-color: #F3541C;
}
