form {
    background-color: var(--color-shape-body);

}
legend {
    font: 500 1.1rem/1.2 var(--font-family-head);
    color: var(--text-color-head);
    gap: 1rem;
}

.main-container h2 {
    font: 800 1.5rem/1.2 var(--font-family-head);
    color: var(--text-color-head);
}

fieldset {
    border: none;
    display: grid;
    gap: 1.5rem;
    margin: auto;
}

.periodo {
    flex-flow: row;
    gap: 1rem;
    padding-top: .75rem;
}



.radio-container {
    display: flex; /* Coloca os itens lado a lado */
    align-items: center; /* Centraliza verticalmente */
    border: 1px solid var(--input-stroke); /* Borda para destaque */
    border-radius: 0.5rem; /* Bordas arredondadas */
    
    
}

.radio-item {
    
    display: flex;
    margin: auto;
    align-items: center;
    padding: 0.45rem;
    cursor: pointer;
}


.radio-item input[type="radio"] {
    display: none; /* Oculta o rádio padrão */
}

.radio-item label {
    display: flex;
    align-items: center;
    font: var(--text-body-sm);
    
}

.radio-item img {
    width: 20px; /* Ajuste do tamanho do ícone */
    height: 20px;

}



.radio-item input[type="radio"]:checked + label {
    background-color: var(--input-stroke); /* Cor de fundo no estado selecionado */
    color: var();
    border-radius: 0.2rem; /* Bordas arredondadas */
   
    margin: 0;
    
}

/* Trocar a imagem quando o presencial for selecionado */
.radio-item input#presencial:checked + label img {
    content: url(../assets/building-check.svg); 
}

.radio-item input#online:checked + label img {
    content: url(../assets/video-check.svg); /* Troca a imagem para a opção "online" */
}

.container-tema {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    gap: 0.5rem;

    font: var(--text-body-md);
    color: var(--text-color-body);
    
}

.container-tema img {
    border-radius: 0.65rem;
    width: 100%;
    padding: 0.35rem;
}

.temas-evento {
    background-color: var(--input-stroke);
    border-radius: .60rem;
    text-align: center;
    
}

.temas-evento label {
    margin: 0;
}

.temas-evento input[type="radio"]:checked + label {
    border: 2px solid var(--brand-light); /* Cor da borda */
    border-radius: .60rem;
    
}

.temas-evento:focus, .temas-evento:focus-within {
    border: 2px solid var(--brand-light);
    
}

.temas-evento input[type="radio"] {
    display: none;
}
