label {
    font: var(--text-heading-sm); /* Estilo do texto */
    color: var(--text-color-body); /* Cor do texto */
    
    display: block;
    /*margin-bottom: .25rem;*/
    gap: 1rem;
    padding-inline: 0.5rem
    
}

.input-wrapper {
    display: block;
    align-self: auto;
    
}

input[type="date"], 
input[type="text"] {
    padding: 0.5rem;
    border: 1px solid var(--input-stroke);
    border-radius: 0.5rem;
    font: var(--text-body-md);
    width: 100%; /* Garante que todos os inputs tenham o mesmo tamanho */
    box-sizing: border-box;
}

input, textarea, select {
    font: var(--text-body-md);
    color: var(--input-placeholder);
    background-color: var(--input-stroke);
    border: 1px solid var(--input-stroke);
    width: 100%;
    
    border-radius: 0.5rem;

    padding: .75rem;
    font: var(--text-body-sm);

    
}

input:focus, select:focus, textarea:focus {
    outline: 0.1rem solid var(--brand-light); /* Cor direta */
    border: 0.1rem solid var(--brand-light);
}


.radio-inner input, 
.radio-inner input:focus, 
.radio-inner input:hover {
    all: unset;
    
    inset: 0;
}

span {
    font-family: var(--text-body-sm);
    color: var(--semantic-error);
}

input:invalid {
    border: 0.125rem solid var(--semantic-error);
}

input[type="date"] {
    color: var(--input-placeholder);  
}