#app {
    display: grid;
    grid-template-columns: 43.75% 56.25% ; /*regra de três para chegar a porcentagem foi (560*100)/1280, sendo 656 weith e 1280 soma dos dois*/
    height: 100vh;
    overflow: hidden;

    padding-inline: 5rem;
}

aside  {
    background-image: url(../assets/Background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 1.5rem;
    margin: 3rem;


    width: 400px;
    height: 728px;
    padding: 2rem;
}


aside .aside-container {
    max-width: 21rem; /*336w divide por 16*/
    margin-right: 2rem;
    
}

.aside-container h1 {
    font: 400 2rem/1.25 var(--font-family-title);
    color: var(--text-color-title);
    padding-top: 1.5rem;
}

.aside-container p {
    font: 300 1rem/1.20 var(--text-body-sm);
    color: var(--text-color-body);
    letter-spacing: .10rem;
    padding-top: .75rem;
}


main .main-container {
   max-width: 35rem;
   margin: auto; /*centralizar o formulário*/
   
}

main {
    
    background-color: var(--color-shape-body);
    background-position: center;
    overflow: auto; /*ter a rolagem tela*/
    border-radius: 1.5rem;
    margin: 3rem;

    padding-top: 5rem;
    
}
