#app {
    display: grid;
    grid-template-columns: 35% 65% ; /*regra de três para chegar a porcentagem foi (560*100)/1280, sendo 656 weith e 1280 soma dos dois*/
    background-color: var(--color-shape-background);

    padding: 1rem;
    gap: 1.25rem;
    overflow: hidden;
    height: 100vh;
}

aside  {
    background-image: url(../assets/Background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1.5rem;
    margin-left: auto;
    padding: 2rem;
    width: 33rem; /*se espalhar no container a img de fundo*/
    
    
}



h1 {
    font: 500 2.5rem/1.5 var(--font-family-title);
    color: var(--text-color-title);
    margin-bottom: 0.25rem;

    
}

.aside-container p {
    font: 300 1rem/1.20 var(--text-body-sm);
    color: var(--text-color-body);
    letter-spacing: .10rem;
    padding-block: .75rem;
}


main {
    
    background-color: var(--color-shape-body);
    overflow: auto; /*ter a rolagem tela*/
    border-radius: 1.5rem;
    padding-top: 3rem;
    padding-inline: 8rem;
    width: 98%;
}

main .main-container h2 {
    font: var(--text-heading-md);
    color: var(--text-color-head);
    text-align: left;
    display: block;
    padding-bottom: 1.5rem;
    
}




.subtitle {
    display: flex;
    align-items: center; /*alinhar o ícone e o texto*/
    padding-bottom: 0.5rem;
    padding-top: 1.5rem;
}

.subtitle > img {
    padding-right: .75rem;
    
   
}

.flex-container {
    display: flex; /* Torna os elementos filhos flexíveis e alinhados horizontalmente */
    gap: 2rem; /* Espaçamento entre os itens */
    align-items: center; /* Alinha os itens verticalmente ao centro */
}

.flex {
    display: flex;
    align-items: center;
    
  }

.flex-1 {
    flex: 1;
   
    
}

.flex-2 {
    flex: 2;
}

